*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    color: white;
    background-color: black;
}
/* ------------------------------------navbar--------------------------- */
.logo {    
    margin-right: 50%;
}
.nav{
    background-color: cadetblue;
    padding: 15px;
}
.nav-link{
    color: white;
    margin-right: 10px;
    font-size: 18px;
}
.nav-link:hover{
    color: rgb(20, 71, 73);
    text-decoration: underline;
}
/* -----------------------------------home section------------------------------------------- */
.home{
    min-height: 40vh;

}
.container{
 padding:4% 0 0 0;

}
.line{
    background-color: cadetblue;
    height: 5px;
    width: 110px;
}
.header-img{
    height: 60%;
    width: 90%;
    border: 2px solid cadetblue;
    padding: 10px;
    margin: 20px;
   
}
.content-header{
    color: black;
    margin: 40% 0 40%  20% ;
}
.social-media{
    text-align: center;
}
.social-media a{
    color:white ;
    border-radius: 50%;
    background-color: cadetblue;
    padding: 13px;
}
.social-media a:hover{
    background-color:white ;
    color: cadetblue;
    transition: 0.8s;
}
/* .btn{
    border-radius: 10%;
    border: 1px solid cadetblue;
}
.btn0::before{
    content: "";
    position: absolute;
    color: blue;
} */
  .btn{
    margin-left:6px;
    display: inline-flex;
    position: relative;
    color: cadetblue;
    font-weight: bold;   
     border: .64px solid cadetblue;
    border-radius: 25.6px; 
    align-items: center;
    justify-content: center;
    z-index: 1;
    overflow:hidden;
 }
 .btn::before{
    content: '';
    position: absolute;
    background:cadetblue;
    color: white;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    z-index: -1;
    transition: .7s;
}
 .btn:hover::before{
    width: 100%;
}
/* ------------------------------------about section--------------------- */
.sec-about{
    min-height: 50vh;
}
.abot-title{
    text-align: center;
}
.abot-title span{
    color: cadetblue;
    text-decoration: underline;
}
.about-para{
    border-right: 2px solid cadetblue;
}
table th{
    color:cadetblue ;
}
table, td {
  padding: 10px;
  color: white;
   justify-content: center;
  align-items: center;
  margin-top:55px ;
}
.card{
    height: 150px;
    width: 200px;
    justify-content: center;
    align-items: center;
    margin: 10px;
    box-shadow: 0px -1px 5px 5px rgb(151, 223, 225) ;
    text-align: center;
    background-color: cadetblue;
    border: none;
}
.card-img-top{
    height: 80px;
    width: 80px;
    border-radius: 50%;
}
.container .col-md-3 .btn1{
    background-color:cadetblue ;
    border: 1px solid white;
    color: white;
    text-decoration: none;
    padding: 5px 50px;
    border-radius: 50px;
    cursor:default;
}
/* -----------------------------galllary--------------------------- */